/* Owl Carousel Nav Style */

.owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

.owl-nav button{
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 60px !important;
    display: inline-block;
    text-align: center;
}

.owl-nav .owl-prev {
    position: absolute;
    left: 15px;
}

.owl-nav .owl-next {
    position: absolute;
    right: 15px;
}

.owl-nav span {
    color: rgb(255, 255, 255);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

.slider img {
    width: 100%;
    min-height: 300px;
}